<header>
    <div class="nav">
        <ul class="nav-list">
            <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Main</a></li>
            <li><a class="<%= path === '/shop' ? 'active' : '' %>" href="/shop">Shop</a></li>
            <li><a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a></li>
            <li><a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a></li>
            <li><a class="<%= path === '/admin/create' ? 'active' : '' %>" href="/admin/create">Create</a></li>
            <li><a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a></li>
            <li><a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a></li>
            <li><a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">SignUp</a></li>
        </ul>
    </div>
</header>